#config

{
  "position": "bottom",
  "margin": 0,
  "modules-left": ["sway/workspaces"],
  "modules-center": [],
  "modules-right": [
    "clock#time",
    "clock#date",
    "network",
    "pulseaudio",
    "backlight",
    "battery"
  ],
  "sway/workspaces": {
    "format": "{index}",
    "disable-scroll": true
  },
  "clock#time": {
    "format": "{:%H:%M:%S}"
  },
  "clock#date": {
    "format": "{:%d.%m}"
  },
  "network": {
    "format-wifi": "{essid}",
    "format-ethernet": "LAN",
    "format-disconnected": "No net"
  },
  "pulseaudio": {
    "format": " {volume}%",
    "format-muted": " muted"
  },
  "backlight": {
    "format": " {percent}%"
  },
  "battery": {
    "format": " {capacity}%"
  }
}
